.Agents {
  background-color: #eff2f6;
}

.AgentsTeamContainer {
  padding-bottom: 20px;
  height: 1000px;
}

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.AgentsTeamContainer > .container {
  display: block;
  margin-right:0;
}

.AgentsTeamContainer > .slick-list {
  width: 1200px;
}

.AgentsTeamContainer .slick-track{
  display: flex;
  flex-flow: row wrap;
  justify-content: right;
  -webkit-padding-start: 100px;
  -webkit-padding-end: 100px;
}

/* .slick-track > .CardContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: right;
} */

.slick-vertical .slick-slide {
  height: 180px;
}

.slick-slider {
  margin: 30px auto 50px;
}

.slick-prev img {
  transform: scaleX(-1);
  margin-left: 150px;
}

.slick-next img, .slick-prev img {
  height: 30px;
  width: 30px;
  border: 2px solid;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border-color: #F6F8FC;
  background: transparent;
}

.slick-next {
  margin-right: 100px;
}

.slick-next:before {
    content: '';
}
