
* {
  box-sizing: border-box;
}

.managementCards {
  width: 1200px;

  position: relative;
}

.managementCards {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.managementCards > .EmployeeCard {
  margin: 10px;
}
