.managementCards {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  justify-content: space-between;
}

.slick-track {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  justify-content: space-between;
}

div.learn-more {
    display: none;
}

.AgentsCard:hover .learn-more {
    display: block;
}

.LeadersCard:hover .learn-more {
    display: block;
}

.ManagementCard:hover .learn-more {
    display: block;
}

.AgentsCard:hover, .LeadersCard:hover, .ManagementCard:hover {
  height: 400px;
  width: 200px;
  padding: 5px;
}

.ManagementTeamContainer, .AgentsTeamContainer {
  background-color: #eff2f6;
  padding-top: 15px;
}

.name, .teamHeader {
  color: #3b4757;
}

.position {
  color: #8795a9;
}

.teamHeader {
  padding-top: 20px;
  padding-bottom: 20px;
}
