.NavHeader {
  background-color: #2c333c;
  width: 100%;
  max-width: 3600px;
  height: 60px;
  float: none;
  position: relative;
}

.HeaderImage {
  padding-top: 10px;
  margin-left: 20px;
  float: left;
}

.SignIn {
  padding-top: 15px;
  float: right;
}

.sign-in-button {
  float: right;
  margin-right: 30px;
  background: #6a64fc;
  border-radius: 2px;
  border: none;
  color: white;
  height: 30px;
  width: 100px;
  font-size: 15px;
}

.NavItems {
  padding-top: 20px;
  margin: auto;
  width: 50%;
}

.nav {
  color: #c9dce8;
  font: bold;
  display: inline;
  padding-left: 30px;
  padding-left: 30px;
  margin: auto;
}
