* {
  box-sizing: border-box;
  min-width: 0;
  min-height: 0;
}

.Management {
  background-color: #eff2f6;
}

.Agents {
  background-color: #eff2f6;
}

/* .Leaders {
  width: 100%
} */

.ManagementTeamContainer, {
  display: block;
  margin:0 auto;
}

.managementCards {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 1200px;
  margin:0 auto;
}

.CardContainer {
  margin: 10px;
}

/* .AgentsTeamContainer, .LeadersTeamContainer {
  display: block;
  max-width: 1000px;
  margin:0 auto;
} */
