img, ul, li, button {
  display: inline;
}

ul {
  margin-right: 50px;
}

.Navigation {
  background-color: #2c333c;
  padding-top: 30px;
  padding-bottom: 30px;
  align-items: center; /* align vertical */
}

.beacon_logo {
  float: left;
  margin-left: 10px;
}

li {
  color: #c9dce8;
  font: bold;
  list-style-type: none;
  margin-left: 10px;
  margin-right: 10px;
}


.sign-in-button {
  float: right;
  background: #6a64fc;
  border-radius: 2px;
  border: none;
  color: white;
  margin-right: 10px;
  height: 30px;
}
/*
.Navigation{
  background-color: #2c333c;
  padding-top: 10px;
  padding-bottom: 10px;
} */
