@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";


.slick-slider {
  max-width: 1200px;
  position: relative;
}

.slick-track {
  width: 1200px;
  position: relative;
}

.EmployeeCard {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  border: 5px solid #fff;
  display: inline-block;
  margin: 10px;
  border: 0;
}

.slick-dots {
  position:relative;
  margin: auto;
  bottom: 0;
}

.slick-arrow {
  background-color: grey;
  color: black;
}

.slick-arrow:hover {
  background-color: grey;
}

.slick-prev {
  z-index: 100;
  left: 20px !important;
}
.slick-next {
  z-index: 100;
  right: 20px !important;
}

.slick-dots {
  margin-left: 0;
}


li img {
  filter: grayscale(100%);
}
li.slick-active img {
  filter: grayscale(0%);
}
@media (max-width: 768px) {
  h3 {
    font-size: 24px;
  }
  .center {
    margin-left: -40px;
    margin-right: -40px;
  }
  .center .slick-center h3 {
    color: #e67e22;
    opacity: 1;
    transform: scale(1);
  }
  .center h3 {
    opacity: 0.8;
    transform: scale(0.95);
    transition: all 300ms ease;
  }
}
