.slick-dots li button::before {
    opacity: 2;
    color: transparent;;
    font-weight: 900;
    font-size: 11px;
    border: 2px solid;
    border-radius: 50%;
    width: 11px;
    height: 11px;
    border-color: #6a64fc;
}

.slick-prev img {
  transform: scaleX(-1);
  margin-left: 150px;
}

.slick-next img, .slick-prev img {
  height: 30px;
  width: 30px;
  border: 2px solid;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border-color: #F6F8FC;
  background: transparent;
}
