.hero, .hero_overlay {
  position: relative;
  width: 100%;
  height: 300px;
}

.hero_overlay {
  position: absolute;
  left: 0;
  z-index: 1;
}

.title {
  position: absolute;
  top: 100px;
  right:0;
  left:0;
  z-index: 2;
  color: white;
  font-size: 50px;
}

.description {
  position: absolute;
  top: 250px;
  right:0;
  left:0;
  z-index: 2;
  background: white;
  border-radius: 2px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 100px;
  padding-right: 100px;
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
}

.people {
  position: relative;
  background: white;
  border-radius: 50%;
  box-shadow:  0 0 10px  rgba(0,0,0,0.6);
  width: 50px;
  height: 50px;
  z-index: 3;
  padding: 10px;
  top: 10px;
}

.title-container {
  background-color: #eff2f6;
}
